# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*.so
*.egg-info/

# Virtual Environments
venv/
.venv/

# Environment Variables
.env

# ==========================================
# Logs
# ==========================================
*.log
logs/

# ==========================================
# Project Output
# ==========================================
output/

# ==========================================
# Grafana
# ==========================================
monitoring/grafana/data/

# ==========================================
# Streamlit
# ==========================================
.streamlit/

# ==========================================
# VS Code / IDE
# ==========================================
.vscode/
.idea/

# ==========================================
# OS Files
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# Python Cache
# ==========================================
.pytest_cache/
.mypy_cache/
.cache/

# ==========================================
# Terraform (Future)
# ==========================================
*.tfstate
*.tfstate.*
.terraform/
